.homeProduct{
    display: flex;
    justify-content: center;
}
.homeProductContainer{
    width: 1500px;
    max-width: 1500px;
box-sizing: border-box;
padding: 15px;
}
.homeProductContent{
    display: flex;
    flex-direction: column;
}
.homeProductContent h2{
    margin: 15px 0;
    letter-spacing: .3rem;
    text-transform: uppercase;
}
.homeProductList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}